<div class="container-fluid" style="padding: 40px;">
  <div id="text">
    <p>
      <span class="font">F</span>ormula<span class="font">1<span id="regs">&reg;</span></span><span
        class="font">C</span>hampionship
      </p>
  </div>
  <!---->
  <div *ngIf="show" id="header">
    <div class="ranking">
      <p>Ranking / <span id="prix">{{ grandPrix }}</span></p>
    </div>
    <div class="select-race">
      <ul class="bg-dark">
        <li class="dropdown">
          <a class="text-light dropdown-toggle" id="gpDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Select race</a>
          <div class="dropdown-menu drop" aria-labelledby="gpDropdown">
            <a class="dropdown-item" (click)="getGlobal()">Global</a>
            <a class="dropdown-item" (click)="getByRace(0)">GP Barein</a>
            <a class="dropdown-item" (click)="getByRace(1)">GP Portugal</a>
            <a class="dropdown-item" (click)="getByRace(2)">GP Spain</a>
            <a class="dropdown-item" (click)="getByRace(3)">GP Monaco</a>
            <a class="dropdown-item" (click)="getByRace(4)">GP Italy</a>
            <a class="dropdown-item" (click)="getByRace(5)">GP Singapore</a>
            <a class="dropdown-item" (click)="getByRace(6)">GP Japan</a>
            <a class="dropdown-item" (click)="getByRace(7)">GP USA</a>
            <a class="dropdown-item" (click)="getByRace(8)">GP Australia</a>
            <a class="dropdown-item" (click)="getByRace(9)">GP Abu dabi</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <app-main-page *ngIf="show" (show)="showChanged($event)" [drivers]="drivers" [grandPrix]="grandPrix" [gps]="gps"></app-main-page>
  <!--app-profile [grandPrix]="grandPrix" [gps]="gps"></app-profile-->
  <router-outlet></router-outlet>
</div>