@font-face {
    font-family: 'Faster One';
    src: URL('./../assets/FasterOne-Regular.ttf') format('TrueType');  
}

@media (max-width: 360px) {
    .container-fluid {
        padding: 0;
    }
    #text {
        width: 100%;
        & p {
            margin-left: 10%;
        }
        & .hid {
            display: none;
        }
    }
    #header {
        //width: 100%;
        margin-left: 1px;
        & .ranking {
            margin-right: 10%;
            & p {
                letter-spacing: 0.5px;
                //color: blue;
                margin-left: -50px;
                font-size: 16px;
                & #prix {
                    font-size: 16px;
                }
            }
        }
    }
    .select-race {
        width: 50%;
        margin-left: -125px;
        margin-top: -5px;
        & ul li {
            & a {
                list-style: none;
                text-decoration: none;
                font-size: 12px;
                margin-left: -20px;
            }
            & .drop {
                margin-left: -52px;
                & a {
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        }
    }
}

%ranking_style {
    letter-spacing: 1.5px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.container-fluid {
    padding: 40px;
}

#header {
    height: 75%;
    width: 50%;
    margin-left: 25%;
    display: flex;
}

.ranking p {
    color:rgb(41, 187, 41);
    @extend %ranking_style;
    & #prix {
        color: black;
        @extend %ranking_style;
    }
}

.ranking p #prix {
    color: black;
}

ul {
    width: 132%;
    margin-left: 195%;
    & li {
        margin-top: 5px;
        & a {
            list-style: none;
            text-decoration: none;
        }
    }
}

#text {
    width:40%;
    margin-left: 29.5%;
    margin-bottom: 40px;
    & p {
        font-size: 35px;
    }
}

p {
    font-weight: bold;
    font-style: italic;
    color: grey;
    letter-spacing: 2px;
}

.font {
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Faster One';
    color: rgb(41, 187, 41);
}

.font:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
}

#regs {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: black;
}

.drop {
    margin-top: 10px;
    margin-left: -32px;
    background-color: rgb(226, 226, 226);
    box-shadow:1px 1px 2px black, 0 0 25px rgb(232, 232, 255), 0 0 5px rgb(78, 78, 90);
}